# Dependencias
node_modules/

# Build
dist/
build/

# Entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db

# Cache
.cache
.parcel-cache
.turbo
